<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://embed-player.spectado.com/assets/index.js" defer></script>
    <title>spectado-hls-relay</title>
  </head>
  <body>
    <section>
      <h1 class="mt-1 text-3xl text-center font-bold underline">
        SPECTADO-HLS-RELAY
      </h1>

      <div class="mt-5 mx-5 mb-20">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Link</th>
              <th>State</th>
              <th>Live</th>
              <th>Listeners</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < streams.length; i++) { %>
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <td><%= streams[i]["id"] %></td>
              <td><%= streams[i]["name"] %></td>
              <td><%= streams[i]["link"] %></td>
              <td><%= streams[i]["state"] %></td>
              <td><%= streams[i]["isLive"] ? 'YES':'no' %></td>
              <td><%= streams[i]["listeners"] %></td>
              <!--<td>
                <spectado-player
                  src="<%= streams[i]['link'] %>?fs_project=dev"
                  type="hls"
                  color="#00205b"
                  background-color="#ffffff"
                  width="40px"
                />
              </td>-->
              <td>
                <button  type="button" onClick="play('<%= streams[i]["link"] %>?fs_project=dev','<%= streams[i]["id"] %>','<%= streams[i]["name"] %>')" class="py-2 px-4 bg-blue-500 text-white text-xs font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                  PLAY
                </button> 
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>

    

    <script>
      function hlsPlayerLink (playlist, title, subtitle) {
        return `https://hls.spectado.com/?stream=${encodeURIComponent(
          playlist
        )}&title=${encodeURIComponent(title)}&subtitle=${encodeURIComponent(
          subtitle
        )}`;
      };

        function play(mediaSrc, title,subtitle) {
          const link = hlsPlayerLink(mediaSrc, title,subtitle);
          window.open(link, "spectado-hls-player", "height=100, width=400");
        }
      </script>
  </body>
</html>
